html, body {
  height: 100%;
  width:100%;
  background-color: lightgray;
}

h1, h2 {
  font-family: fantasy;
  font-size: 24px;
  color: #006eff;
  background-color: #fff700;
  text-align: center;
}

h2{
  font-size:12px;
}

p {
  font-family: monospace;
  font-size: 10px;
  color: #121fce;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.blurb {
  font-style: italic;
  font-weight: bold;
}